* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.loading {
    text-align: center;
    margin-top: 350px;
    font-size: 40px;
    font-weight: bold;
    color: green;
}

.name_1 {
    width: 500px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: green;
}

.name_2 {
    width: 500px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: green;
}

.container {
    width: 1140px;
    display: flex;
}

.albums {
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    margin: 20px;
    cursor: pointer;
}

.albums ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.photos {
    width: 500px;
    margin: 20px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
}

.photos ol li{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.no-user-select {
    width: 100%;
    font-size: 25px;
    text-align: center;
    flex: 1;
    margin-top: 350px;
    margin-left: 100px;
    color: green;
}

